{{/*
    Ueberschreibt das Theme-Partial, das sonst per JavaScript die Schrift
    "Lato" von fonts.googleapis.com nachlaedt.

    Dabei wird die IP-Adresse jedes Besuchers an Google uebertragen. Fuer eine
    Website mit Klarnamen in Deutschland ist das ein vermeidbares Risiko -
    deutsche Gerichte haben dazu bereits entschieden.

    Absichtlich leer: die Seite nutzt damit die Systemschrift des Besuchers
    (siehe --base-font-family). Wer Lato zwingend will, muss die Schriftdateien
    ins Projekt legen und selbst ausliefern.
*/}}
